form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: $textCenter;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    .input-group {
        display: flex;
        flex-direction: column;
        text-align: $textLeft;

        label {
            font-size: 1rem;
            color: $textColor;
            font-weight: $textBold;
            padding: 5px 0;
        }

        input[type="text"],
        [type="email"],
        [type="tel"],
        textarea {
            border-radius: 20px !important;
            margin-bottom: 10px !important;
            padding: 10px;
            background-color: #cccccc7a;
            color: #33333380;
            outline: none;
            border: none;

            &::placeholder,
            &::placeholder {
                color: #33333380;
            }
        }
    }

    .contact-btn {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        button {
            &.btn-reset {
                width: 30%;
                padding: 10px;
                border-radius: 10px;
                border: none;
                background-color: transparent;
                color: $textColor;
                cursor: pointer;
            }

            &.btn-submit {
                width: 30%;
                padding: 10px;
                border-radius: 10px;
                border: 2px solid $mainColor;
                background-color: $mainColor;
                color: $white;
                font-weight: $textBold;
                cursor: pointer;
            }
        }
    }
}