form {
    @include shadow( 20px, $white, 9px);
    padding: 50px 55px;
    text-align: $textCenter;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    .input-group {
        display: flex;
        flex-direction: column;
        text-align: $textLeft;

        label {
            font-size: 1rem;
            color: $textColor;
            font-weight: $textBold;
            padding: 5px 0;
        }

        input[type="text"],
        [type="email"],
        [type="tel"],
        textarea {
            @include shadow( 15px, $navHover, 2px);
            border-radius: 20px !important;
            margin-bottom: 10px !important;
            color: #33333380;            
            border: none;
            outline: none;
            padding: 1em;
            transition: 300ms ease-in-out;
            &:focus{
                @include shadow( 15px, $white, 5px);
                transform: scale(1.02);
                  
            }
            &::placeholder,
            &::placeholder {
                color: #33333380;
            }
        }
    }

    .contact-btn {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        button {
            &.btn-reset {
                width: 30%;
                padding: 10px;
                border-radius: 10px;
                border: none;
                background-color: transparent;
                color: $textColor;
                cursor: pointer;
            }

            &.btn-submit {
                @include shadow( 10px, $mainColor, 3px);
                width: 30%;
                padding: 10px;
                border: 2px solid $mainColor;
                color: $white;
                font-weight: $textBold;
                cursor: pointer;
            }
        }
    }
}