// colors
$mainColor: #1C75BC;
$lightBlue:#dfeffc;
$textColor: #333;
$white: #fff;
$navHover: #ccc;
$green: #189233;
$orange: #FF9900;
$pink: #BC1C72;
$noneActivity: #1c74bc44;

//fonts
$mainFont: 'Montserrat', sans-serif;


//weights
$textLight: 300;
$textRegular: 400;
$textBold: 700;

//aligns
$textCenter: center;
$textRight: right;
$textLeft: left;

//transform
$textUppercase: uppercase;